[Unit]
Description=Hali Daemon (user service)
After=graphical-session.target default.target

[Service]
Type=simple
ExecStart=/usr/bin/halid
Restart=on-failure
Environment=HOME=%h

[Install]
WantedBy=default.target
